%b
  Your card#{@card_printings.size > 1 ? "s" : ""} #{@card_printings.size > 1 ? "have" : "has" } been mailed.
%div{ style: "color: #303030" }
  %p
    We have mailed your card#{@card_printings.size > 1 ? "s" : ""} to #{@card_printings.map { |p| p.name_or_self("you") }.to_sentence}.
    #{@card_printings.size > 1 ? "They" : "It" } should arrive within 5 to 7 business days.
  %p
    Thanks again for your order!
