%script
  :erb
    $(function() { mixpanel.track("card_printing_index"); });

.card-printing{ class: "row-fluid" }
  .span6
    .card
      %a{ target:"_blank", href: @image_url }
        %img{ border:0, src: @image_url }
  .span6
    - if @app == App.lulcards
      .author
        - if @message
          .author-message
            %h4
              #{@message}
        .author-from
          %h5
            From:
        .author-image
          %a{ target:"_blank", href: "http://facebook.com/#{@sender.facebook_id}" }
            %img{ border: 0, width: 64, height: 64, src: @profile_image_url }
        .author-info
          .author-name
            %a{ target:"_blank", href: "http://facebook.com/#{@sender.facebook_id}" }
              = @sender.user_profile.name
          .author-sent
            = "Sent on #{@sent_on}"
    .sent-by
      .sent-by-caption
        #{@sent_by_caption}
        - unless @is_mobile
          <br>
          <br>
          Send your own for <b>free</b>.

      - unless @is_mobile
        .sent-by-sms
          Enter your phone number and we'll text you a link to download the app:
          .phone-form
            %form{id: "sms-form"}
              %input.phone-number{type: "text", name: "phone-number", id: "phone-number", placeholder: "Ex: 650-555-1212"}
              %input{type: "submit", id: "send-sms-button", class: "btn btn-large disabled", value:"Send Text"}
      .sent-by-image
        %p
          %a{ href: @config.marketing_url }
            = image_tag "#{@app.name}/SentByLogo.png", width: 102, height: 27
        %p
          %a{ href: @config.itunes_url }
            = image_tag "AppStore.png", width: 175, height: 52

    .actions
      .fb-like{ "send-data" => true, "data-width" => 450, "data-show-faces" => true, "data-colorscheme" => "#{@theme_color == "white" ? "light" : "dark" }",
                "ref" => "card_printing", "data-href" => @meta_url }

