- if @recipient_messages
  .row
    .span9
      .recent-messages
        - @recipient_messages.each do |message|
          %ul{class: ["nav", "nav-pills"]}
            - message["body"].split(/\s+/).each do |word|
              %li
                %a{ :href => "#", :class => "message-word", "data-word" => word }&= h(word)
        - if @extra_selectable_text
          %ul{class: ["nav", "nav-pills"]}
            - @extra_selectable_text.split(/\s+/).each do |word|
              %li
                %a{ :href => "#", :class => "message-word", "data-word" => word }&= h(word)
      .lookup-form
        %textarea{ class: "pending-query", rows: 4, cols: 180 }
        %p
          %input.submit-query{ type: "button", value: "Lookup" }
      .query-result
        .delivery-line-1
        .delivery-line-2
        .last-line
      = form_tag(admin_address_request_path, id: "complete-form", action: "update", method: "put") do
        - if params[:task_token]
          = hidden_field_tag(:task_token, params[:task_token]) 
          = hidden_field_tag(:task_result, "parsed") 
        = hidden_field_tag(:address_api_response_id, nil, id: "complete-form-address-api-response-id") 
        = hidden_field_tag(:parsed_from, @recipient_messages.map { |m| m["body"] }.join(" ")) 
        = submit_tag("Complete", id: "complete-task-button")
      - if params[:task_token]
        %div{style: "background-color: #ffaaaa; padding: 15px; margin-top:30px"}
          = form_tag(admin_address_parse_task_path, action: "destroy", method: "delete") do
            = hidden_field_tag(:task_token, params[:task_token]) 
            = hidden_field_tag(:task_result, "not_parsed") 
            = submit_tag("No Address Found")
          = form_tag(admin_address_parse_task_path, action: "destroy", method: "delete") do
            = hidden_field_tag(:task_token, params[:task_token]) 
            = hidden_field_tag(:task_result, "rejected") 
            = submit_tag("Reject")
- else
  Request ##{@address_request.address_request_id}
  Nothing to do.
