.row.gift-page
  .span6
    .left-panel
      = image_tag "#{@app.name}/MainLogo.png", width: 300, height: 84

      %h3{width: "100%"}
        Want more babygrams of #{@postcard_subject_first_name}?
      %h4{width: "100%"}
        .div
          Buy a credit package for #{@sender_profile.name} so #{@sender_profile.subject_pronoun} can send you more!
        .div
          #{@credit_message}

  .span6
    %form{ id: "purchase-form", class: "form-horizontal", method: "POST", action: "/apps/#{@app.name}/gift_credits" }
      .control-group
        %label.control-label{ for: "name" }
          Your Name:
        .controls
          %input{type: "text", name: "name", id: "name", value: @recipient_name }
      .control-group
        %label.control-label{ for: "email" }
          Your E-mail:
        .controls
          %input{type: "text", name: "email", id: "email" }
      .control-group
        %label.control-label{ for: "note" }
          Note for #{@sender_profile.first_name} (Optional):
        .controls
          %textarea{name: "note", id: "note", rows: 3 }
      .control-group
        .controls
          %label.checkbox
            %input{type: "checkbox", name: "remind-empty", id: "remind-empty", checked: "" }
              Let me know when #{@sender_profile.first_name} runs out of credits.
      .control-group
        .controls
          %input{ type: "button", name: "purchase", id: "purchase-button", class: "btn btn-success", value: "Pay with Card" }
