%div{style: "width: 95%; margin: auto; border-radius: 8px; background-color: #f8f8f8; margin-top: 20px; padding: 8px;"}
  %div
    - if @card_design.card_preview_composition
      %div{style: "padding-top: 20px; text-align: center;"}
        %a{href: @target_url}
          %img{style: "border: 1px solid #aaa", src: @card_design.card_preview_composition.treated_card_preview_image.public_url, width: 200}
    %div{style: "font-size: 20px; text-align: center; color: #444444; font-weight: bold; padding-top: 16px;"}
      Happy #{@age} birthday to #{@subject_first_name}!
  %div{style: "font-size: 16px; text-align: center; color: #666666; padding-top: 10px; padding-left: 8px; padding-right: 8px;"}
    - if @last_names.size == 1
      We hope #{@last_names[0]} enjoyed #{@last_recipient_profile.try(:possessive_pronoun) || "their"} babygram.&nbsp;
    - elsif @last_names.size > 1
      We hope #{@last_names.to_sentence} enjoyed their babygrams.&nbsp;

    %a{style: "color: #{@gender_color}", href: @target_url} Send #{@last_names.size > 1 ? "them " : ""} another babygram

    to mark this important milestone!
  %div{style: "font-size: 18px; text-align: center; color: #444444; padding-top: 14px;"}
    %a{href: @target_url, style: "text-decoration:none; color: white;"}
      %div{style: "background-color: #{@gender_color}; width: 225px; margin: auto; font-weight: bold; padding: 16px; margin-top: 12px; border-radius: 8px;"}
        Send another babygram
  %div{style: "font-size: 18px; text-align: center; color: #444444; padding-top: 10px;"}

%div{style: "font-size: 14px; text-align: center; color: #999; padding-top: 14px; padding-bottom: 10px;"}
  To stop these e-mails,
  %a{href: @unsubscribe_url, style: "color: #999"}
    click here.
