- if params[:task_token]
  = form_tag(admin_verify_order_task_path, action: "destroy", method: "delete") do
    = hidden_field_tag(:task_token, params[:task_token]) 
    = hidden_field_tag(:task_result, "verified") 
    = submit_tag("Verify")
.row
  .span9
    <b>Sender:</b>
.row
  .span9
    %span
      %img{ src: "http://graph.facebook.com/#{@sender.facebook_id}/picture" }
      %a{ target:"_blank", href: "http://facebook.com/#{@sender.facebook_id}" }
        #{@sender.user_profile.name}
  .span9{ style: "margin-top: 10px" }
    %span{style: "color: #55AA55; font-size:24px;"}
      #{@total_credits} Credits
    %span{style: "color: #55AA55; font-size:24px;"}
      #{@total_price}
    (#{@mailable_card_count} / #{@all_card_count}) printings
.row
  - @mailable_card_printings.each do |card_printing|
    .span3
      %p
      .pic
        %img{ src: "http://graph.facebook.com/#{card_printing.recipient_user.facebook_id}/picture" }
      .recipient-name
        %b
          %a{ target:"_blank", href: "http://facebook.com/#{card_printing.recipient_user.facebook_id}" }
            #{card_printing.recipient_user.user_profile.name}
      .recipient-address
        %pre=card_printing.recipient_user.recipient_address.printable_address
.row
  .span9
    %img{src: @front_url, class: "postcard-front"}
    %a{href: @front_pdf_url, target:"_blank"}
      Front PDF
  .span9
    %img{src: @back_url, class: "postcard-back"}
    %a{href: @back_pdf_url, target:"_blank"}
      Back PDF

- if params[:task_token]
  = form_tag(admin_verify_order_task_path, action: "destroy", method: "delete") do
    = hidden_field_tag(:task_token, params[:task_token]) 
    = hidden_field_tag(:task_result, "not_verified") 
    = submit_tag("Skip")
  = form_tag(admin_verify_order_task_path, action: "destroy", method: "delete") do
    = hidden_field_tag(:task_token, params[:task_token]) 
    = hidden_field_tag(:task_result, "rejected") 
    = submit_tag("Reject")
