!!!
%html{ lang:"en" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ property: "og:title", content: @og_title || @title }
    %meta{ property: "twitter:card", content: "summary" }
    %meta{ property: "twitter:title", content: @title }

    - if @description
      %meta{ property: "twitter:description", content: @description }
      %meta{ property: "og:description", content: @description }
    - elsif @tagline
      %meta{ property: "twitter:description", content: @tagline }
      %meta{ property: "og:description", content: @tagline }

    - if @app
      %meta{ property: "og:site_name", content: @app.name }
      %meta{ property: "twitter:site", content: @app.name }
      %meta{ property: "twitter:domain", content: @app.domain }
      %meta{ property: "twitter:app:name:iphone", content: @app.name }
      %meta{ property: "twitter:app:id:iphone", content: @app.apple_app_id }

      - unless @disable_itunes_link
        %meta{ name: "apple-itunes-app", content: "app-id=#{@app.apple_app_id}"}

    - if @meta_image
      %meta{ property: "og:image", content: @meta_image }
      %meta{ property: "twitter:imarge:src", content: @meta_image }

    - if @meta_url
      %meta{ property: "og:url", content: @meta_url }

    - if @meta_creator
      %meta{ property: "twitter:creator", content: @meta_creator }

    - if @og_type
      %meta{ property: "og:type", content: @og_type }

    %meta{ property: "og:app_id", content: @config.facebook_app_id }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}

    - if @app && @app == App.babygrams
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44283005-2', 'babygramsapp.com');
        ga('send', 'pageview');

    %script{ type: "text/javascript" }
      :erb
        (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
        b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
        '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
        d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
        var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
        Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
        f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
        'track_forms','register','register_once','unregister','identify','alias','name_tag','set_config',
        'people.set','people.set_once','people.increment','people.track_charge','people.append'];
        for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
        mixpanel.init("<%= @config.mixpanel_token %>");

    %title
      = @title
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "posto/card_printing", media: "all"
    = stylesheet_link_tag "posto/signup", media: "all"
    = stylesheet_link_tag "posto/promo", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "signups"
    = csrf_meta_tags
  %body{ "data-app" => @app.name, "data-controller" => controller.controller_path, "data-action" => controller.action_name, class: "#{@theme_color || "black"}" }
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '#{@config.facebook_app_id}', // App ID from the App Dashboard
          channelUrl : 'https://api.lulcards.com/channel.html', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true  // parse XFBML tags on this page?
        });
      };

      (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));
    .container
      = yield
