!!!
%html{ lang:"en" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ property: "og:title", content: @title }
    %meta{ property: "twitter:card", content: "summary" }
    %meta{ property: "twitter:title", content: @title }
    %meta{ property: "twitter:description", content: @title }
    %meta{ property: "og:type", content: "product" }

    - if @app
      %meta{ property: "og:site_name", content: @app.name }
      %meta{ property: "twitter:site", content: @app.name }
      %meta{ property: "twitter:domain", content: @app.domain }
      %meta{ property: "twitter:app:name:iphone", content: @app.name }
      %meta{ property: "twitter:app:id:iphone", content: @app.apple_app_id }
      %meta{ name: "apple-itunes-app", content: "app-id=#{@app.apple_app_id}"}

    - if @meta_image
      %meta{ property: "og:image", content: @meta_image }
      %meta{ property: "twitter:imarge:src", content: @meta_image }

    - if @meta_url
      %meta{ property: "og:url", content: @meta_url }

    - if @meta_creator
      %meta{ property: "twitter:creator", content: @meta_creator }

    %meta{ property: "og:app_id", content: CONFIG.facebook_app_id }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title
      = @title
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "posto/card_printing", media: "all"
    = stylesheet_link_tag "posto/signup", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "signups"
    = csrf_meta_tags
  %body{ "data-controller" => controller.controller_path, "data-action" => controller.action_name, class: "black" }
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '487965654580467', // App ID from the App Dashboard
          channelUrl : 'https://api.lulcards.com/channel.html', // Channel File for x-domain communication
          status     : true, // check the login status upon init?
          cookie     : true, // set sessions cookies to allow your server to access the session?
          xfbml      : true  // parse XFBML tags on this page?
        });
      };

      (function(d, debug){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);
      }(document, /*debug*/ false));
    .container
      = yield
