!!!
%html{ lang:"en" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{ href: "http://fonts.googleapis.com/css?family=Dosis:400,600,700|Neuton:300,400", rel:"stylesheet", type:"text/css"}
    %link{ href: "/favicon-#{@app.name}.png", rel:"shortcut icon"}
    %script{ src: "https://checkout.stripe.com/v2/checkout.js", "data-key" => @config.stripe_publishable_key, "data-name" => @app.name }

    %title
      = @title
    = stylesheet_link_tag "application", media: "all"
    = #stylesheet_link_tag "posto/gift_credits", media: "all"
    = javascript_include_tag "application"
    = #javascript_include_tag "gift_credits"
    = csrf_meta_tags
  %body{ "data-controller" => controller.controller_path, "data-action" => controller.action_name, "data-app" => @app.name, "data-stripe-key" => @config.stripe_publishable_key, class: "gift" }
    .container
      = yield

